<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>layui在线调试</title>
    <link rel="stylesheet" href="/layui/css/layui.css?t=1560414887305" media="all">
    <link rel="stylesheet" href="/laydate/laydate.css" media="all">
    <script src="/laydate/laydate.js"></script>

    <link rel="stylesheet" href="../css/font.css">
    <link rel="stylesheet" href="../css/xadmin.css">
    <script type="text/javascript" src="../lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../js/xadmin1.js"></script>
    <script type="text/javascript" src="../js/xadmin.js"></script>


</head>
<body>
<div class="x-nav">
            <span class="layui-breadcrumb">
                <a href="">首页</a>
                <a href="">演示</a>
                <a>
                    <cite>导航元素</cite></a>
            </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       onclick="location.reload()" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
    </a>
</div>


<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">
                    <form class="layui-form layui-col-space5">
                        <div class="layui-input-inline layui-show-xs-block">
                            <input class="layui-input" placeholder="开始日" name="start" id="start"></div>
                        <div class="layui-input-inline layui-show-xs-block">
                            <input class="layui-input" placeholder="截止日" name="end" id="end"></div>


                        <div class="layui-input-inline layui-show-xs-block">
                            <select name="contrller">
                                <option>支付方式</option>
                                <option>支付宝</option>
                                <option>微信</option>
                                <option>银行卡</option>
                            </select>
                        </div>
                        <div class="layui-input-inline layui-show-xs-block">
                            <select name="contrller">
                                <option value="">订单状态</option>
                                <option value="0">待确认</option>
                                <option value="1">已确认</option>
                                <option value="2">已收货</option>
                                <option value="3">已取消</option>
                                <option value="4">已完成</option>
                                <option value="5">已作废</option>
                            </select>
                        </div>
                        <div class="layui-input-inline layui-show-xs-block">
                            <input type="text" name="username" placeholder="请输入订单号" autocomplete="off"
                                   class="layui-input"></div>
                        <div class="layui-input-inline layui-show-xs-block">
                            <button class="layui-btn" lay-submit="" lay-filter="sreach">
                                <i class="layui-icon">&#xe615;</i></button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </form>
                </div>
                <div class="layui-card-header">
                    <button class="layui-btn layui-btn-danger" onclick="delAll()">
                        <i class="layui-icon"></i>批量删除
                    </button>
                    <button class="layui-btn" onclick="xadmin.open('添加用户','/page/order-add',800,600)">
                        <i class="layui-icon"></i>添加
                    </button>
                    <div class="yan">
                        <button class="layui-btn" onclick="downloadTemplate();">模板下载</button>
                        <button class="layui-btn" onclick="exportData();">导出</button>
                        <!--  <button id="importData" class="layui-btn" onclick="importData()">导入</button>-->
                        <button type="button" class="layui-btn" id="test3"><i class="layui-icon"></i>导入</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/html" id="barDemo1">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>

</script>


<!--/table表格-->
<table class="layui-hide" id="testok" lay-filter="test"></table>


<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>

</script>
<div class="layui-tab layui-tab-brief" lay-filter="demo"/>
<!--<ul class="layui-tab-title">-->
<!--<li class="layui-this">演示说明</li>-->
<!--<li>日期</li>-->
<!--<li>分页</li>-->
<!--<li>上传</li>-->
<!--<li>滑块</li>-->
<!--</ul>-->
<div class="layui-tab-content">
    <div class="layui-tab-item layui-show">

        <div class="layui-carousel" id="test1">
            <div carousel-item>
                <div><p class="layui-bg-green demo-carousel">在这里，你将以最直观的形式体验 layui！</p></div>
                <div><p class="layui-bg-red demo-carousel">在编辑器中可以执行 layui 相关的一切代码</p></div>
                <div><p class="layui-bg-blue demo-carousel">你也可以点击左侧导航针对性地试验我们提供的示例</p></div>
                <div><p class="layui-bg-orange demo-carousel">如果最左侧的导航的高度超出了你的屏幕</p></div>
                <div><p class="layui-bg-cyan demo-carousel">你可以将鼠标移入导航区域，然后滑动鼠标滚轮即可</p></div>
            </div>
        </div>
    </div>
    <div class="layui-tab-item">
        <div id="laydateDemo"></div>
    </div>
    <div class="layui-tab-item">
        <div id="pageDemo"></div>


        <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
           onclick="location.reload()" title="刷新">
            <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
        </a>
        <div class="layui-tab-item">
            <div class="layui-upload-drag" id="uploadDemo">
                <i class="layui-icon"></i>
                <p>点击上传，或将文件拖拽到此处</p>
            </div>
        </div>
        <div class="layui-tab-item">
            <div id="sliderDemo" style="margin: 50px 20px;"></div>
        </div>
    </div>
</div>


<blockquote class="layui-elem-quote layui-quote-nm layui-hide" id="footer">layui {{ layui.v }} 提供强力驱动</blockquote>


<script>
    layui.config({
        version: '1560414887305' //为了更新 js 缓存，可忽略
    });


    layui.use(['laydate', 'laypage', 'layer', 'table', 'carousel', 'upload', 'element', 'slider'], function () {
        var laydate = layui.laydate //日期
            , laypage = layui.laypage //分页
            , layer = layui.layer //弹层
            , table = layui.table //表格
            , carousel = layui.carousel //轮播
            , upload = layui.upload //上传
            , element = layui.element //元素操作
        var upload = layui.upload;//导入

        console.log("156545316");
        // console.log(laypage);
        console.log(laydate);

        laydate.render({
            elem: '#start'
            , type: 'datetime'
        });

        laydate.render({
            elem: '#end'
            , type: 'datetime'
        });
        //向世界问个好
        layer.msg('Hello World');

        table.render({      //其它参数省略
            id: 'id'
        });


        //监听Tab切换
        element.on('tab(demo)', function (data) {
            layer.tips('切换了 ' + data.index + '：' + this.innerHTML, this, {
                tips: 1
            });
        });


        console.log("156516");


//table的展示
        layui.use('table', function () {
            var table = layui.table;
            table.render();

        });

        //执行一个 table 实例
        table.render({
            // table表格的id
            elem: '#testok'
            //高度
            // , height: 420
            //查询路径
            , url: '/user/var_list' //数据接口 fuzzyUser
            // 表名字
            , title: '用户表'
            , page: true //开启分页
            , toolbar: 'default' //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
            , totalRow: true //开启合计行
            , response: {
                countName: 'count',//规定数据总数的字段名称，默认：data
                dataName: 'datas' //规定数据列表的字段名称，默认：data
            }
            , cols: [
                [ //表头
                    {type: 'checkbox', fixed: 'left'}
                    , {field: 'emp_id', title: '员工工号', width: 80, sort: true, fixed: 'left'}
                    , {field: 'name', title: '员工姓名', width: 120, size: 80}
                    , {field: 'pcjg', title: '派出机构', width: 110}
                    , {field: 'pxbc', title: '培训班名称', width: 110, totalRow: true}
                    , {field: 'pxsj', title: '培训时间', width: 180}
                    , {field: 'txn_amt', title: '缴纳金额', width: 120}
                    , {field: 'varMoney', title: '缴纳金额', width: 110, totalRowText: '合计：'}
                    , {field: 'flag', title: '缴纳状态', width: 120, templet: function (d) {
                        return d.varMoneyState == '1'
                            ? '<span style="color: chocolate; font-weight:bold;font-size:20px; ">缴费成功</span>'
                            : '<span style="color: #0000FF; font-weight:bold;font-size:20px; ">未缴费</span>';
                    }
                }
                    , {
                    field: 'mem_info',
                    title: '备注',
                    width: 180,
                    sort: true,
                    totalRow: true,
                    totalRowText: '合计：'/*,toolbar: '#barDemo' layui表格后面的增删改*/
                }
                , {field: 'imp_date', title: '导入时间', width: 180}
                ]
            ]
            //  ,where:{searchable:false,search:title}

            , id: "testReload"
            , height: 'full-10'  //高度最大化减去差值
            , limits: [10, 15, 20]
            , limit: 13 //每页默认显示的数量
            // , response: {
            //     statusCode: 200 //重新规定成功的状态码为 200，table 组件默认为 0}


        });
//todo


        var $ = layui.$,
            active = {
                reload: function () {

                    var title = $("#title").val();
                    var select = $("#select").val();
                    var start = $("#start").val();
                    var end = $("#end").val();
                    console.log("title这是输入框" + title);
                    console.log("select这是选择框" + select);
                    console.log("start这是开始时间" + start);
                    console.log("end这是结束时间" + end);
                    //  console.log("title这是输入框"+title);

//执行重载  testReload生成新的id
                    //  inquire:title.val();
                    table.reload('testReload', {
                        page: {
                            curr: 1  //重载从第一页开始
                        }, where: {

                            demoReload: title
                            , selectType: select
                            , start: start
                            , end: end
                        }
                    });
                }

            };
// layui-btn 查询的按钮
        $('#layui-btn').on('click', function () {
            console.log("来到查询了");//你就把查询的id 换了一个
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
            return false;  //  layui文档  form防止刷新页面把from的刷新页面关闭 true

        });


        //监听头工具栏事件
        table.on('toolbar(test)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id)//获取选中id
                , data = checkStatus.data; //获取选中的数据
            /* layer.msg(data);*/
            /*   var checkStatus = table.checkStatus('idTest');*/

            /* layer.tips(this.value);*/
            switch (obj.event) {
                case 'add':
                    // layer.msg('添加');
                    window.location.href = "/page/order-add";
                    break;


                case 'update':
                    if (data.length === 0) {
                        layer.msg('请选择一行');
                    } else if (data.length > 1) {
                        layer.msg('只能同时编辑一个');
                    } else {

                        /* layer.alert('编辑 [id]：' + checkStatus.data[0].id);*/
                        x_admin_show('编辑',
                            '/user/order-edit?id=' + checkStatus.data[0].id, 800, 600)
                        /* layer.alert('编辑 [id]：' + checkStatus.data);*/
                        /* x_admin_show('编辑',
                            '/page/order-update?id=' + checkStatus.data[0].id,800,600)*/
                    }
                    break;


                case 'delete':
                    if (data.length == 1) {
                        //confirm --layui中的方法 表示 确认与否 删除
                        layer.confirm('真的删除行么', function (index) {
                            $.ajax({
                                type: "POST",
                                url: "/user/deleteById",
                                data: {
                                    "id": checkStatus.data[0].id  //绑定id
                                },
                                dataType: "json",
                                success: function (data1) {
                                    if (data1 =='1') {

                                        layer.msg("删除成功");
                                        $(".layui-laypage-btn").click(); //刷新

                                    } else {
                                        layer.msg("删除失败");
                                    }

                                }
                            });
                        })
                    }else{
                        layer.msg('请选择一行');
                    }
            }
        });


        //指定允许上传的文件类型
        upload.render({
            elem: '#test3'
            , url: '/upload/excelFile'
            , size: 60 //限制文件大小，单位 KB·
            , accept: 'file|xls' //普通文件
            , exts: 'xls|xlsx|xlsm|xlt|xltx|xltm'
            , done: function (res) {
                console.log(res);


                $(".layui-laypage-btn").click(); //刷新
            }
        });


        //监听行工具事件
        table.on('tool(test)', function (obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data //获得当前行数据
                , layEvent = obj.event; //获得 lay-event 对应的值
            if (layEvent === 'detail') {
                layer.msg('查看操作');
            } else if (layEvent === 'del') {
                layer.confirm('真的删除行么', function (index) {
                    obj.del(); //删除对应行（tr）的DOM结构
                    layer.close(index);
                    //向服务端发送删除指令
                });
            } else if (layEvent === 'edit') {
                layer.msg('编辑操作');
            }
        });

        // //执行一个轮播实例
        // carousel.render({
        //     elem: '#test1'
        //     ,width: '100%' //设置容器宽度
        //     ,height: 200
        //     ,arrow: 'none' //不显示箭头
        //     ,anim: 'fade' //切换动画方式
        // });
        //
        // //将日期直接嵌套在指定容器中
        // var dateIns = laydate.render({
        //     elem: '#laydateDemo'
        //     ,position: 'static'
        //     ,calendar: true //是否开启公历重要节日
        //     ,mark: { //标记重要日子
        //         '0-10-14': '生日'
        //         ,'2018-08-28': '新版'
        //         ,'2018-10-08': '神秘'
        //     }
        //     ,done: function(value, date, endDate){
        //         if(date.year == 2017 && date.month == 11 && date.date == 30){
        //             dateIns.hint('一不小心就月底了呢');
        //         }
        //     }
        //     ,change: function(value, date, endDate){
        //         layer.msg(value)
        //     }
        // });
        //
        // //分页
        // laypage.render({
        //     elem: 'pageDemo' //分页容器的id
        //     ,count: 100 //总页数
        //     ,skin: '#1E9FFF' //自定义选中色值
        //     //,skip: true //开启跳页
        //     ,jump: function(obj, first){
        //         if(!first){
        //             layer.msg('第'+ obj.curr +'页', {offset: 'b'});
        //         }
        //     }
        // });
        //
        // //上传
        // upload.render({
        //     elem: '#uploadDemo'
        //     ,url: '' //上传接口
        //     ,done: function(res){
        //         console.log(res)
        //     }
        // });
        //
        // slider.render({
        //     elem: '#sliderDemo'
        //     ,input: true //输入框
        // });
        //
        // //底部信息
        // var footerTpl = lay('#footer')[0].innerHTML;
        // lay('#footer').html(layui.laytpl(footerTpl).render({}))
        //     .removeClass('layui-hide');
        //});

    });


    //
    function downloadTemplate() {
        var iframe = document.createElement("iframe");
        document.body.appendChild(iframe);
        iframe.src = "/download/admin.xls";
        iframe.style.display = "none";
    }
</script>
</body>
</html>