<!DOCTYPE html>
<html class="x-admin-sm">
    
    <head>
        <meta charset="UTF-8">
        <title>欢迎页面-X-admin2.2</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" href="../css/font.css">
        <link rel="stylesheet" href="../css/xadmin.css">
        <link rel="stylesheet" href="../css/xadmin.css">
        <link rel="stylesheet" href="../layui/css/layui.css"  media="all">
        <script type="text/javascript" src="../lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="../js/xadmin.js"></script>
        <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
        <!--[if lt IE 9]>
            <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
            <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]--></head>
    
    <body>
        <div class="layui-fluid">
            <div class="layui-row">
                <form class="layui-form">
                    <div class="layui-form-item">
                        <label for="username" class="layui-form-label">
                            <span class="x-red">*</span>员工名字</label>
                        <div class="layui-input-inline">
                            <input type="text" id="username" name="username" required="" lay-verify="required" autocomplete="off" class="layui-input"></div>
                    </div>
                    <div class="layui-form-item">
                        <label for="usernumber" class="layui-form-label">
                            <span class="x-red">*</span>工号</label>
                        <div class="layui-input-inline">
                            <input type="text" id="usernumber" name="usernumber" required="" lay-verify="required" autocomplete="off" class="layui-input"></div>
                    </div>
                    <div class="layui-form-item">
                        <label for="usertrainname" class="layui-form-label">
                            <span class="x-red">*</span>培训班名称</label>
                        <div class="layui-input-inline">
                            <input type="text" id="usertrainname" name="usertrainname" required="" lay-verify="required" autocomplete="off" class="layui-input"></div>
                    </div>

                    <!--<div class="layui-form-item">-->
                        <!--<div class="layui-inline">-->
                        <!--<label for="usertime" class="layui-form-label">-->
                            <!--<span class="x-red">*</span>培训时间</label>-->
                        <!--<div class="layui-input-inline">-->
                            <!--<input type="text" id="usertime" placeholder="yyyy-MM-dd" name="phone" required="" lay-verify="phone" autocomplete="off" class="layui-input"></div>-->
                    <!--</div>-->
                    <!--</div>-->


                    <div class="layui-form">
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">培训时间</label>
                                <div class="layui-input-inline">
                                    <input type="text" class="layui-input" id="vartrantime" name="vartrantime" placeholder="yyyy-MM-dd">
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="layui-form-item">
                        <label for="varsite" class="layui-form-label">
                            <span class="x-red">*</span>派出机构</label>
                        <div class="layui-input-inline">
                            <input type="text" id="varsite" name="varsite" required="" lay-verify="required" autocomplete="off" class="layui-input"></div>
                    </div>
                    <div class="layui-form-item">
                        <label for="varmoney" class="layui-form-label">
                            <span class="x-red">*</span>缴纳金额</label>
                        <div class="layui-input-inline">
                            <input type="text" id="varmoney" name="varmoney" required="" lay-verify="required" autocomplete="off" class="layui-input"></div>
                    </div>

                    <div class="layui-form-item">
                        <label for="varmoneystate" class="layui-form-label">
                            <span class="x-red">*</span>缴纳状态</label>
                        <div class="layui-input-inline">
                            <input type="text" id="varmoneystate" name="varmoneystate" required="" lay-verify="required" autocomplete="off" class="layui-input"></div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label"><span class="x-red">*</span>缴纳状态</label>
                        <div class="layui-input-block">
                            <input type="radio" name="sex" value="0" title="未交费" checked="">
                            <input type="radio" name="sex" value="1" title="交费成功">


                            <!--<input type="checkbox" name="like1[write]" value="0" lay-skin="primary" title="未交费" checked="">-->
                            <!--<input type="checkbox" name="like1[write]" value="1" lay-skin="primary" title="交费成功">-->
                        </div>
                    </div>



                    <!--<div class="layui-form-item">
                        <label for="username" class="layui-form-label">
                            <span class="x-red">*</span>配送物流</label>
                        <div class="layui-input-inline">
                            <select id="shipping" name="shipping" class="valid">
                                <option value="shentong">申通物流</option>
                                <option value="shunfeng">顺丰物流</option></select>
                        </div>
                    </div>-->
                    <!--div class="layui-form-item">
                        <label for="username" class="layui-form-label"  0 未交费 1 交费成功>
                            <span class="x-red">*</span>支付方式</label>
                        <div class="layui-input-inline">
                            <select name="contrller">
                                <option>支付方式</option>
                                <option>支付宝</option>
                                <option>微信</option>
                                <option>货到付款</option></select>
                        </div>
                    </div>-->
                    <!--<div class="layui-form-item">
                        <label for="L_email" class="layui-form-label">
                            <span class="x-red">*</span>发票抬头</label>
                        <div class="layui-input-inline">
                            <input type="text" id="L_email" name="email" required="" lay-verify="email" autocomplete="off" class="layui-input"></div>
                        <div class="layui-form-mid layui-word-aux">
                            <span class="x-red">*</span></div>
                    </div>
                    <div class="layui-form-item layui-form-text">
                        <label for="desc" class="layui-form-label">商品增加</label>
                        <div class="layui-input-block">
                            <table class="layui-table">
                                <tbody>
                                    <tr>
                                        <td>haier海尔 BC-93TMPF 93升单门冰箱</div></td>
                        <td>0.01</div></td>
                    <td>984</div></td>
            <td>1</td>
            <td>删除</td></tr>
            <tr>
                <td>haier海尔 BC-93TMPF 93升单门冰箱</div></td>
        <td>0.01</div></td>
        <td>984</div></td>
        <td>1</td>
        <td>删除</td></tr>
        </tbody>
        </table>
        </div>
        </div>-->

        <div class="layui-form-item layui-form-text">
            <label for="varremark" class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" id="varremark" name="varremark" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label form="L_repass" class="layui-form-label"></label>
            <button class="layui-btn" lay-filter="add" lay-submit="" type="button">增加</button></div>
        </form>
        </div>
        </div>
        <script>
            layui.use(['laydate','form', 'layer'],
            function() {
                $ = layui.jquery;
                var form = layui.form,
                    laydate = layui.laydate,//日期
                    layer = layui.layer;

                //时间选择器
                laydate.render({
                    elem: '#vartrantime'
                    , type: 'datetime'
                });



                //自定义验证规则
                form.verify({
                    nikename: function(value) {
                        if (value.length < 5) {
                            return '昵称至少得5个字符啊';
                        }
                    },
                    password: [/(.+){6,12}$/, '密码必须6到12位'],
                    repass: function(value) {
                        if ($('#L_pass').val() != $('#L_repass').val()) {
                            return '两次密码不一致';
                        }
                    }
                });

                //监听提交
                form.on('submit(add)', function(data) {
                    var num = $("#num").val();
                    $.ajax({
                        type: "POST",
                        url: "/user/insertUser"
                        , data: data.field
                        , dataType: "json"
                        , success: function (result) {
                            //var a = result.code;  //---①处
                            // var b = result.message;
                            if (result == "1") {
                                //layer.msg('新增成功');
                                layer.alert("新增成功");
                                //JS延时一秒执行
                                setTimeout(function(){
                                    window.location.href="/page/order-list";
                                }, 1000);

                            } else {
                                // return false;
                                // titli:'新增失败'
                                layer.alert("新增失败");

                                    //    layer.msg('新增失败，手机号已存在');
                            }

                            }


                    });

                    //发异步，把数据提交给php
                    // layer.alert("增加成功", {
                    //     icon: 6
                    // },
                    // function() {
                    //     // 获得frame索引
                    //     var index = parent.layer.getFrameIndex(window.name);
                    //     //关闭当前frame
                    //     parent.layer.close(index);
                    // });
                  //  return false;
                });

            });</script>
        <script>var _hmt = _hmt || []; (function() {
                var hm = document.createElement("script");
                hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();</script>
    </body>

</html>