<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>编辑页面</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" href="../css/font.css">
    <link rel="stylesheet" href="../css/xadmin.css">
    <link rel="stylesheet" href="../css/xadmin.css">
    <link rel="stylesheet" href="../layui/css/layui.css" media="all">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="../lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]--></head>

<body>
<div class="layui-fluid">
    <div class="layui-row">
        <form class="layui-form">
            <!--编辑保存时，把选中id传给后台-->
            <input type="hidden" id="id" name="id" th:field='${userVar.varId}'/>

            <div class="layui-form-item">
                <label for="varName" class="layui-form-label">
                    <span class="x-red">*</span>员工名字</label>
                <div class="layui-input-inline">
                    <input type="text" id="varName" name="varName" th:field='${userVar.varName}' required="" lay-verify="required"
                           autocomplete="off" class="layui-input"></div>

            </div>
            <div class="layui-form-item">
                <label for="varNumber" class="layui-form-label">
                    <span class="x-red">*</span>工号</label>
                <div class="layui-input-inline">
                    <input type="text" id="varNumber" name="varNumber" th:field='${userVar.varNumber}' required="" lay-verify="required"
                           autocomplete="off" class="layui-input"></div>
            </div>
            <div class="layui-form-item">
                <label for="varTrainName" class="layui-form-label">
                    <span class="x-red">*</span>培训班名称</label>
                <div class="layui-input-inline">
                    <input type="text" id="varTrainName" name="varTrainName" th:value='${userVar.varTrainName}' required="" lay-verify="required"
                           autocomplete="off" class="layui-input"></div>
            </div>


            <div class="layui-form">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">培训时间</label>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input" id="varTranTime" name="varTranTime"
                                   th:value='${#dates.format(userVar.varTranTime,"yyyy-MM-dd HH:mm:ss")}'  required="" lay-verify="required" autocomplete="off"  placeholder="yyyy-MM-dd">
                        </div>
                    </div>
                </div>
            </div>


            <div class="layui-form-item">
                <label for="varsite" class="layui-form-label">
                    <span class="x-red">*</span>派出机构</label>
                <div class="layui-input-inline">
                    <input type="text" id="varSite" name="varSite"   th:value='${userVar.varSite}' required="" lay-verify="required" autocomplete="off"
                           class="layui-input"></div>
            </div>
            <div class="layui-form-item">
                <label for="varmoney" class="layui-form-label">
                    <span class="x-red">*</span>缴纳金额</label>
                <div class="layui-input-inline">
                    <input type="text" id="varMoney" name="varMoney" th:value='${userVar.varMoney}' required="" lay-verify="required"
                           autocomplete="off" class="layui-input"></div>
            </div>

          <!--  <div class="layui-form-item">
                <label for="varmoneystate" class="layui-form-label">
                    <span class="x-red">*</span>缴纳状态</label>
                <div class="layui-input-inline">
                    <input type="text" id="varmoneystate" name="varmoneystate" th:value='${userVar.varMoney}' required="" lay-verify="required"
                           autocomplete="off" class="layui-input"></div>
            </div>-->
            <!-- th:title='${userVar.varMoneyState}'-->

            <div class="layui-form-item">
                <label class="layui-form-label"><span class="x-red">*</span>缴纳状态</label>
                <div class="layui-input-block">
                    <input type="hidden" name="varMoneyState" th:value="${userVar.varMoneyState}" id="s0"  title="" >
                    <input type="radio" name="varMoneyState" th:valuetype="${userVar.varMoneyState}" id="s1" value="0" title="未交费"  >
                    <input type="radio" name="varMoneyState" th:valuetype="${userVar.varMoneyState}" id="s2" value="1" title="交费成功" >
                </div>
            </div>


            <div class="layui-form-item layui-form-text">
                <label for="varRemark" class="layui-form-label">备注</label>
                <div class="layui-input-block">
                    <textarea placeholder="请输入内容" id="varRemark" name="varRemark" th:text='${userVar.varRemark}' class="layui-textarea"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label form="L_repass" class="layui-form-label"></label>
                <button class="layui-btn" lay-filter="edit" lay-submit=""  type="button">编辑</button>
            </div>
        </form>
    </div>
</div>
<script>
    layui.use(['laydate', 'form', 'layer'],
        function () {
            $ = layui.jquery;
            var form = layui.form,
                laydate = layui.laydate,//日期
                layer = layui.layer;
//在input 的radio 中的选择框中的方法 长时间无法获取到； radio中需要valuetype 获取值 然后给value  通过渲染前端显示
            var check = document.getElementById("s0").value;
            // alert('check----'+check)
            if (check=='1') {
                document.getElementById("s2").setAttribute('checked',"checked")
            }else {
                document.getElementById("s1").setAttribute('checked',"checked")
            }
            //必须重新渲染
            layui.form.render();
            //时间选择器
            laydate.render({
                elem: '#vartrantime'
                , type: 'datetime'
            });

            //监听提交
            form.on('submit(edit)', function (data) {
                var id = $("#id").value;
                console.log("id这是输入框-----------" + id);
                $.ajax({
                    type: "POST",
                    url: "/user/updateUser"
                    , data: data.field
                    , dataType: "json"
                    , success: function (result) {
                        //var a = result.code;  //---①处
                        // var b = result.message;
                        if(result.code !=500){

                            layer.alert("修改成功")
                          /*  top.location.href = "/page/order-list";*/
                            setTimeout(function(){
                                parent.location.href="/page/order-list";
                            }, 1000);

                        }else{
                            layer.alert("修改失败"+result.code)
                        }
                    }

                });

            });


        });</script>
<script>var _hmt = _hmt || [];
(function () {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
})();</script>
</body>

</html>