<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zfx.demo.mapper.EmpInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.admins.bean.EmpInfo">
        <id column="EMP_ID" property="empId" />
        <result column="NAME" property="name" />
        <result column="PCJG" property="pcjg" />
        <result column="PXBC" property="pxbc" />
        <result column="PXSJ" property="pxsj" />
        <result column="TXN_AMT" property="txnAmt" />
        <result column="FLAG" property="flag" />
        <result column="MEM_INFO" property="memInfo" />
        <result column="IMP_DATE" property="impDate" />
        <result column="MEMO1" property="memo1" />
        <result column="MEMO2" property="memo2" />
        <result column="MEMO3" property="memo3" />
        <result column="MEMO4" property="memo4" />
        <result column="MEMO5" property="memo5" />
        <result column="MEMO6" property="memo6" />
        <result column="MEMO7" property="memo7" />
        <result column="MEMO8" property="memo8" />
        <result column="MEMO9" property="memo9" />
        <result column="MEMO10" property="memo10" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        EMP_ID, NAME, PCJG, PXBC, PXSJ, TXN_AMT, FLAG, MEM_INFO, IMP_DATE, MEMO1, MEMO2, MEMO3, MEMO4, MEMO5, MEMO6, MEMO7, MEMO8, MEMO9, MEMO10
    </sql>

</mapper>
